# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
car_env/
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Migration files
**/migrations/
!**/migrations/__init__.py

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media
media/